.backbone {
  height: 10vmin;
  position: relative;
  background-color: #fff;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 10vmin;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.navbar.nav-fixed {
  background-color: #080808;
  position: fixed;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.navbar.nav-fixed .container-fluid .navbar-nav .nav-item .nav-logo {
  width: 150px !important;
  -webkit-filter: contrast(100%) brightness(100%) drop-shadow(0 0 0px black) !important;
          filter: contrast(100%) brightness(100%) drop-shadow(0 0 0px black) !important;
  background-image: url(../images/hero_logo.png) !important;
}

.navbar .container-fluid #navbarNav .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .nav-logo {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  -webkit-filter: contrast(0%) brightness(300%) drop-shadow(0 0 1px black);
          filter: contrast(0%) brightness(300%) drop-shadow(0 0 1px black);
  background-image: url(../images/logo-removebg-preview.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item a {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  margin-left: 10px;
  text-shadow: 0 0 5px black;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item a:hover {
  color: #c00;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0 0 0px black;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar .container-fluid #navbarNav .navbar-nav .dropdown .dropdown-menu {
  display: hidden;
  background-color: #0e0e0e;
  overflow: hidden;
}

.navbar .container-fluid #navbarNav .navbar-nav .dropdown .dropdown-menu li a {
  margin-left: 0;
  text-shadow: 0 0 0px black;
}

.navbar .container-fluid #navbarNav .navbar-nav .dropdown .dropdown-menu li a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #c00;
  background-color: transparent;
}

.navbar .container-fluid #navbarNav .navbar-nav .dropdown:hover .dropdown-toggle {
  color: #c00;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0 0 0px black;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #c00;
  border: 6px solid transparent;
  background-clip: content-box;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  overflow-x: hidden;
  background-color: #080808;
  font-family: 'Josefin Sans', sans-serif;
}

body .hero {
  width: 100vw;
  height: 100vh;
  margin-top: -10vmin;
  position: relative;
}

body .hero video {
  /*  object-fit is not supported on IE  */
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
  width: 100%;
  z-index: 1;
  position: absolute;
}

body .hero .hero_logo {
  position: absolute;
  width: 700px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 25px black);
          filter: drop-shadow(0 0 25px black);
}

body .hero .swiper-hero {
  width: 100%;
  height: 100%;
}

body .hero .swiper-hero .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .hero .swiper-hero .swiper-wrapper .img1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url(../images/dreadout-2_5xts.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(../images/dreadout-2_5xts.jpg);
}

body .hero .swiper-hero .swiper-wrapper .img2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url(../images/hero_8.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(../images/hero_8.jpeg);
}

body .hero .swiper-hero .swiper-wrapper .img3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url(../images/hero_4.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(../images/hero_4.jpg);
}

body .hero .swiper-hero .swiper-wrapper .img5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url(../images/hero_5.webp);
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(../images/hero_5.webp);
}

body .hero .swiper-hero .swiper-wrapper .img6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url(../images/linda-dark.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(../images/linda-dark.jpg);
}

body .hero .download {
  z-index: 3;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 25vmin;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

body .hero .download h2 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 36px;
}

body .hero .download .link a {
  margin-left: 15px;
}

body .hero .download .link a:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

body #news {
  margin-top: 50px;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

body #news .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
}

body #news .container {
  background-color: #c00;
  width: 100vw;
}

body #news .container .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #080808;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}

body #news .container .news .desc {
  width: 90vw;
  margin-top: 50px;
}

body #news .container .news .desc .col {
  overflow: hidden;
  width: 70vw;
  height: 80vh;
}

body #news .container .news .desc .col h2 {
  font-size: 2.5rem;
  color: #c00;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body #news .container .news .desc .col p {
  color: #d8d8d8;
  font-size: 1.1rem;
  line-height: 2;
}

body #news .container .news .desc .col .swiper-news {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 2;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper {
  position: relative;
  height: 90%;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 90%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide a {
  position: absolute;
  width: 100%;
  height: 100%;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .text {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: #1a1a1a;
  text-align: left;
  padding: 20px;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .text h2 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: -5px;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .text span {
  font-weight: 500;
  font-size: 13px;
  color: #585858;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .text p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.4;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .text p {
    font-size: 1.7rem;
  }
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img1 {
  background-image: url(../images/SS_DO2_updates10.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img2 {
  background-image: url(../images/siska-recruitment-thumb.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img3 {
  background-image: url(../images/SS_DO2_updates8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img4 {
  background-image: url(../images/nominasi.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img5 {
  background-image: url(../images/SS_DO2_updates2-730x410.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img6 {
  background-image: url(../images/do2-cover-new-730x410.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .img7 {
  background-image: url(../images/Dreadout-2-teaser-trailer-thumb-alt-730x410.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide .line {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  background-color: #c00;
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

body #news .container .news .desc .col .swiper-news .swiper-wrapper .swiper-slide:hover .line {
  height: 1.5%;
}

body #news .container .news .desc .col .swiper-news .swiper-pagination {
  position: absolute;
  bottom: 10%;
  left: 0%;
  z-index: 5;
}

body #news .container .news .desc .col .swiper-news .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: transparent;
  opacity: 1;
  background: rgba(136, 136, 136, 0.2);
}

body #news .container .news .desc .col .swiper-news .swiper-pagination-bullet-active {
  color: transparent;
  background: #c00;
}

body #about {
  height: 100vh;
  width: 100vw;
}

body #about .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url(../images/dreadout_2_linda_pc_wallpaper_by_selenjie_ddrs4kk-pre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
}

body #about .container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #about .container .about .desc {
  width: 60vw;
  margin-top: 0;
}

body #about .container .about .desc .col h2 {
  font-size: 2.5rem;
  color: #c00;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body #about .container .about .desc .col p {
  color: #d8d8d8;
  font-size: 1.1rem;
  line-height: 2;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #about .container .about .desc .col p {
    font-size: 1.7rem;
  }
}

body #char {
  height: 100vh;
  width: 100vw;
}

body #char .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url(../images/thumb-1920-621927.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

body #char .container .char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #char .container .char .desc {
  width: 60vw;
  margin-top: 0;
}

body #char .container .char .desc .col h2 {
  font-size: 2.5rem;
  color: #c00;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body #char .container .char .desc .col p {
  color: #d8d8d8;
  font-size: 1.1rem;
  line-height: 2;
}

body #char .container .char .desc .col a {
  text-decoration: none;
  color: #a00000;
  padding-top: 10px;
  padding-bottom: 10px;
}

body #char .container .char .desc .col a:hover {
  color: #e40000;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #char .container .char .desc .col p {
    font-size: 1.7rem;
  }
  body #char .container .char .desc .col a {
    font-size: 1.4rem;
  }
}

body #char .container .char .desc .linda-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #char .container .char .desc .linda-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #char .container .char .desc .swiper {
  width: 250px;
  height: 350px;
  border-radius: 10px;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #char .container .char .desc .swiper {
    width: 400px;
    height: 500px;
  }
}

body #char .container .char .desc .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #char .container .char .desc .img1 {
  background-image: url(../images/Linda_d1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #char .container .char .desc .img2 {
  background-image: url(../images/Linda_d2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost {
  height: 100vh;
  width: 100vw;
}

body #ghost .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url(../images/ghost_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}

body #ghost .container .ghost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #ghost .container .ghost .desc {
  width: 60vw;
  margin-top: 0;
}

body #ghost .container .ghost .desc .col h2 {
  font-size: 2.5rem;
  color: #c00;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body #ghost .container .ghost .desc .col p {
  color: #d8d8d8;
  font-size: 1.1rem;
  line-height: 2;
}

body #ghost .container .ghost .desc .col a {
  text-decoration: none;
  color: #a00000;
  padding-top: 10px;
  padding-bottom: 10px;
}

body #ghost .container .ghost .desc .col a:hover {
  color: #e40000;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #ghost .container .ghost .desc .col p {
    font-size: 1.7rem;
  }
  body #ghost .container .ghost .desc .col a {
    font-size: 1.4rem;
  }
}

body #ghost .container .ghost .desc .ghost-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
}

body #ghost .container .ghost .desc .ghost-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #ghost .container .ghost .desc .swiper-ghost {
  width: 250px;
  height: 350px;
  border-radius: 10px;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #ghost .container .ghost .desc .swiper-ghost {
    width: 400px;
    height: 500px;
  }
}

body #ghost .container .ghost .desc .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #ghost .container .ghost .desc .img1 {
  background-image: url(../images/ghost1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost .container .ghost .desc .img2 {
  background-image: url(../images/ghost2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost .container .ghost .desc .img3 {
  background-image: url(../images/ghost3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost .container .ghost .desc .img4 {
  background-image: url(../images/ghost4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost .container .ghost .desc .img5 {
  background-image: url(../images/ghost5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost .container .ghost .desc .img6 {
  background-image: url(../images/ghost6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #ghost .container .ghost .desc .img7 {
  background-image: url(../images/ghost7.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #gameplay {
  width: 100vw;
}

body #gameplay .container .gameplay h2 {
  margin-top: 70px;
  font-size: 2.5rem;
  color: #c00;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body #gameplay .container .gameplay h3 {
  color: #9e0000;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

body #gameplay .container .gameplay h3.warn {
  font-size: smaller;
  text-transform: none;
  color: #555;
}

body #gameplay .container .gameplay p {
  color: #d8d8d8;
  font-size: 1.3rem;
}

body #gameplay .container .gameplay .col {
  text-align: center;
}

body #gameplay .container .gameplay .col p {
  font-size: 1.1rem;
  color: #d8d8d8;
  margin-bottom: 5px;
}

body #gameplay .container .gameplay .col .gif {
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #gameplay .container .gameplay .col p {
    font-size: 1.3rem;
  }
  body #gameplay .container .gameplay .col .gif {
    width: 600px;
  }
}

body #gallery {
  width: 100vw;
}

body #gallery .container .gallery h2 {
  margin-top: 70px;
  font-size: 2.5rem;
  color: #c00;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body #gallery .container .gallery h3 {
  color: #9e0000;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

body #gallery .container .gallery h3.concept {
  margin-top: 50px;
}

body #gallery .container .gallery .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 93%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

body #gallery .container .gallery .wrap .item {
  width: 320px;
  height: 220px;
  color: white;
  overflow: hidden;
}

@media screen and (min-width: 1900px) and (max-width: 2559px) {
  body #gallery .container .gallery .wrap .item {
    width: 350px;
    height: 250px;
  }
}

body #gallery .container .gallery .wrap .item .thumb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  border: 2px solid #c00;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 2;
}

body #gallery .container .gallery .wrap .item .thumb:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  cursor: pointer;
}

body #gallery .container .gallery .wrap .item .thumb .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

body #gallery .container .gallery .wrap .item .thumb.img1 {
  background-image: url(../images/D2_backToSchool.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img2 {
  background-image: url(../images/D2_cityExploringAtDay.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img3 {
  background-image: url(../images/D2_cityExploringAtNight.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img4 {
  background-image: url(../images/D2_meetTheKuntilanak.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img5 {
  background-image: url(../images/D2_light.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img6 {
  background-image: url(../images/D2_fight.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img7 {
  background-image: url(../images/D2_enterTheAlley.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img8 {
  background-image: url(../images/D2_conceptBackToSchool.jpg);
}

body #gallery .container .gallery .wrap .item .thumb.img9 {
  background-image: url(../images/D2_theNewGenderuwo.jpg);
}

body #gallery .container .gallery .wrap .item .caption {
  padding-top: 10px;
  background-color: #080808;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  body #gallery .container .gallery .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

body #footer {
  background-color: black;
  text-align: center;
  width: 100vw;
}

body #footer .container .footer .logo {
  margin-top: 10px;
  margin-bottom: 20px;
}

body #footer .container .footer .logo img {
  width: 130px;
  height: auto;
}

body #footer .container .footer .social {
  margin-bottom: 0px;
}

body #footer .container .footer .social a {
  color: #999999;
  font-size: 40px;
}

body #footer .container .footer .social a:hover {
  color: #c00;
}

body #footer .container .footer .company {
  margin-bottom: 10px;
}

body #footer .container .footer .company a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

body #footer .container .footer .company a:hover {
  color: #c00;
}

body #footer .container .footer .privacy {
  margin-bottom: 10px;
}

body #footer .container .footer .privacy a {
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  font-size: smaller;
  font-weight: lighter;
}

body #footer .container .footer .privacy a:hover {
  color: #c00;
}

body #footer .container .footer .copyright {
  margin-bottom: 35px;
}

body #footer .container .footer .copyright p {
  color: white;
}

body #footer .container .footer .legal {
  margin-bottom: 35px;
}

body #footer .container .footer .legal a {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */